<h1>Edit this Track</h1>

<%= render 'layouts/errors' %>

<form action='<%= track_url %>' method='post'>
  <input type='hidden'
          name='authenticity_token'
          value=<%= form_authenticity_token %>>
  <input type='hidden' name='_method' value='patch'
  <label>Which album?</label>
  <select name='track[album_id]'>
    <% @albums.each do |album| %>
      <% if album.id == @track.album_id %>
        <option value='<%= album.id %>' selected='selected'><%= album.title %></option>
      <% else %>
        <option value='<%= album.id %>'><%= album.title %></option>
      <% end %>
    <% end %>
  </select>
  <br>
  <label>Track title</label>
  <input type='text' name='track[track_title]' value=''>
  </br>

  <label>Track Type</label>
  </br>
  <input type='radio' name='track[track_type]' value='BONUS'>BONUS<br>
  <input type='radio' name='track[track_type]' value='REGULAR'>REGULAR
  </br>

  <label>Lyrics</label>
  <textarea name='track[lyrics]' rows='5' columns='50'>
    Type in here
  </textarea>

  <input type='submit' value='Edit Track'>
</form>

<%= button_to "Delete this track", track_url, method: :delete %>

<%= link_to "All Bands", bands_url %>
