<h1><%= link_to @track.track_title, track_url(@track.id) %></h1>
<h2>from</h2>
<h2><%= link_to @track.album.title, album_url(@track.album) %></h2>
<h2>by</h2>
<h2><%= link_to @track.band.name, band_url(@track.band) %></h2>

<h3><%= @track.track_type %><h3>
<h4><%= @track.lyrics %><h4>

<%= link_to "All Bands", bands_url %>
