<h1><%= link_to @band.name, band_url(@band.id) %></h1>


<h2>Albums</h2>

<% @band.albums.each do |album| %>
  <ul>
    <li><%= link_to album.title, album_url(album) %></li>
    <li><%= album.performance %></li>
    <li>Delete this album</li>
  </ul>
<% end %>
<br>
<%= link_to "Add an Album", new_band_album_url(@band) %>
<br>
<%= link_to "Edit this Band", edit_band_url %>
<%= link_to "All Bands", bands_url %>
